body{
	background-color: Black;
	color: white;

}

.container{	
	width: 400px;
	height: 300px;
	margin: 30px auto;
	margin-top: 50px;
	text-align: center;
	border: 2px solid whitesmoke ;
	font-family: sans-serif;
	border-radius: 50px;

}

#stopwatch{
	display: inline-block;
	justify-content: center;
	font-size: 5rem;
}
.btn{
	margin-top: 25px;
}
button{
	padding: 7px 12px;
	font-size: 1rem;
	border-radius: 15px;
	cursor: pointer;
}
