body{
	margin: 2%;
	border: 1px solid black;
	font-family: sans-serif;
	
}

#message{
	line-height: 100px;
	text-align: center;
	vertical-align: middle;
	width: 575px;
	height: 300px;
	border: 5px solid black;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: #b3b3b3;
	font-size: 150%;
	font-family: sans-serif;
	
}

.preview{
	width: 10%;
	margin-left: 17%;
	border: 10px solid black;
}

img	{
	width: 95%;
}