header{
	display: block;
	font-family: sans-serif;
	background: #E0E1E0;
	box-sizing: border-box;
	text-align: center;
}

.links{
	display: inline-block;
	width: 100px;
	text-align: center;
}

.main{
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	height: 800px;
	color: whitesmoke;
	margin-top: auto;
	margin-bottom: auto;
	font-family: handlee;
	font-size: 500%;
	align-items: center;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.aboutimg{
	display: inline-block;
	margin: 5% 5% 5% 25%;
	position: static;
	width: 200px;
	height: 200px;
	align-items: center;
	vertical-align: middle;


	}

.about{
	display: inline-block;
	font-family: sans-serif;
	width: 30%;
	height: auto;
	box-sizing: border-box;
	margin: 5% 5% 5% 5%;
	padding: 15px;
	position: relative;
	text-align: left;
	border-radius: 5px;
	background-color: #f3f3f3;
	align-items: center;
	margin-left: auto;
 	margin-right: auto;
 	vertical-align: middle;
 	
}
 .aboutfull{
 	background-color: #a9d7e9;
 	align-items: center;
 	align-content: center;
 	margin-left: auto;
 	margin-right: auto;
 }


footer{
	background: #E0E1E0;
	display:block;
	height: 80px;
	text-align: center;
	padding: 20px 0;
	font-family: sans-serif;
	position: relative;

	}

.contactusfull{
	display: block;
	background-color: #a9d7e9;
	margin: auto;
	padding: 20px 10px 20px 10px;
	position: relative;

}

.contactus{
	font-family: sans-serif;
	display: block;
	padding: 20px 10px 10px 10px;
	width: 800px;		
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #f3f3f3;
	border-radius: 15px;
	


}

.master-div-style{
	margin: auto;
	width: 800px;
	background-color: #f3f3f3;
	border-radius: 10px;
	padding: 20px 10px 10px 10px;


}

.formfull{
	text-align: center;
	background-color: #a9d7e9;
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
	padding-bottom: 50px;
	font-family: sans-serif;

}

.form-rows{
	position: static;
	display: block;
}
.labels{
	display: inline-block;
	text-align: left;
	width: 40%;
	padding: 5px;
	vertical-align: top;
	margin-top: 10px;
}

.input-fields{
	height: 20px;
	width: 280px;
	padding: 5px;
	margin: 10px;
	border: 1px solid #c0c0c0;
	border-radius: 4px;
}

.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 15px 10px 10px 10px;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

.radio {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

.user-selection {
  float: left;
  margin-right: 5px;
}

.button {
  font-size: 1em;
  background-color: #6ba2ce;
  color: white;
  border: 0px solid;
  border-radius: 4px;
  height: 40px;
  width: 80px;
  margin: 10px;
}



  .fields {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
  }

  .input-fields {
    width: 80%;
  }

  .dropdown {
    width: 90%;
  }
}



  .fields {
    width: 80%;
    float: left;
  }
 

  .input-fields {
    width: 100%;
  }

  .dropdown {
    width: 100%;
  }

}
